{% extends "base.html" %}
{% block title %}
List
{% endblock %}

{% block content %}
	{% for car in cars %}
	<div class="card" style="width: 18rem;">
		{% if car.img %}
  <img src="{{ car.img.url }}" class="card-img-top">
  	{% endif %}
  <div class="card-body">
    <h5 class="card-title">Car</h5>
    <p class="card-text">{{car.make}} - {{car.model}}</p>
    <a href="#" class="btn btn-primary">details</a>
  </div>
</div>
		<a href="{{car.get_absolute_url}}">
			<h1>
				{{car.make}} - {{car.model}}
				<small>
					{{car.year}}
				</small>
			</h1>
		</a>
		<hr>
	{% endfor %}
{% endblock %}
