{% extends "base.html" %}
{% block title %}
Detail
{% endblock %}

{% block content %}
		<h1 class= "display-3">
			{{car.make}} - {{car.model}}

		</h1>
		<p class = "lead">{{car.year}}</p>
		{% if car.img %}
	<img src="{{ car.img.url }}" class="card-img-top">
		{% endif %}
			<a href="{% url 'car-delete' car.id %}">
				<button type="button" class="btn btn-danger">Delete</button>

			</a>
			<a href="{% url 'car-update' car.id %}">
				<button type="button" class="btn btn-primary">Update</button>

			</a>


{% endblock %}
